@config "../../tailwind.config.mjs";
@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

#site-header.header-scrolled {
  @apply bg-white/70 dark:bg-slate-900/60 backdrop-blur-md shadow-lg;
}

@layer base {
  :root {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }
  .material-symbols-outlined {
    font-size: inherit;
    line-height: 1em;
  }
}
