---
const links = [
  { href: "#inicio", label: "Inicio" },
  { href: "#sobre-mi", label: "Sobre mi" },
  { href: "#proyectos", label: "Proyectos" },
  { href: "#blog", label: "Blog" },
  { href: "#contacto", label: "Contactame" },
];

import avatar from "../assets/Jonathan_Acevedo.webp";
---

<header
  id="site-header"
  class="fixed top-4 inset-x-4 z-50 /*Posicionamiento*/ 
    grid grid-cols-[auto_1fr_auto] items-center gap-4 /*Organizaci贸n cajas internas*/ 
    bg-transparent backdrop-blur-none border border-transparent /*Color y fondo*/
    rounded-2xl */Forma / Est茅tica*/
    transition-all duration-300 /*Animaciones y transiciones*/"
  >

  <!--  Izquierda -->
  <div class="flex items-center gap-2 sm:gap-3">

    <!--  Imagen -->
    <img
      src={avatar}
      alt="Foto de perfil de Jonathan Acevedo"
      class="size-10 sm:size-16 */Tama帽o adaptable*/
        rounded-full /*Forma circular*/
        object-cover /*Escalado de imagen*/
        ring-2 ring-slate-200 dark:ring-slate-700 /*Borde/anillo oscuro/claro*/
        hover:ring-blue-500 hover:scale-110 /*animaci贸n*/
        transition-transform duration-300 ease-out /*Transici贸n suave*/"
    />

    <!--  Caja texto Nombre - ocupaci贸n -->
    <div class="leading-tight">

      <p class="font-bold
          text-slate-900 dark:text-slate-100
          text-[10px] sm:text-base">
        Jonathan Acevedo
      </p>

      <p class="text-[9px] sm:text-base
          text-slate-600 dark:text-slate-400">
        Ingeniero de Sistemas y computaci贸n
      </p>

    </div>

  </div>




  <!--  Derecha -->
  <div>

  </div>

  

</header>

<script type="module" src="/scripts/header.js"></script>
